{% extends 'base2.html' %}
{% block content %}
{% load static %}

<div class="title_flags top-margin">
    <h3 style:"font-weight:bold">Delete Pet</h3>
</div>
   <br/><br/>
<div class="container3cols">
	<div class>
		<img class="register--cat" src="{% static 'cat3.png' %}">
	</div>
    <div>
        <br/><br/>
        <h4> Are you sure you want to delete <span class ="teal-text">{{ object.name }} </span> ? </h4>

        <form action = "" method = "POST">
            {% csrf_token %}
            <input type = "submit" value= "Yes - Delete!" class="btn">
            <a href = "{% url 'detail' pet.id %}">Cancel</a>
        </form>
    </div>

    {% endblock %}
