{% extends 'base2.html' %}
{% block content %}

<h1>ALMOST THERE</h1>

<div class="card-content">
    <div>   
        <h5>Please Upload a Photo</h5>
        {% for photo in pet.photo_set.all %}
            <img class="" src="{{photo.url}}">
        {% empty %}
            <div class="">No Photos Uploaded</div>
        {% endfor %}
            <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST" class="">
        {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn" value="Upload Photo">
            </form>
    </div>
    <div>
        <span class="">
        <h5>I have {{ pet.status }} a {{ pet.type }}.</h5>
        <p><h5>Name: </h5>{{ pet.name }}</p>
        <p><h5>Name: </h5>{{ pet.city }}</p>
        <p><h5>Name: </h5>{{ pet.state }}</p>
        <p><h5>Name: </h5>{{ pet.breed }}</p>
        <p><h5>Name: </h5>{{ pet.comments }}</p>
        <div class="">
            <a href="{% url 'pets_update' pet.id %}">Edit</a>
            <a href="{% url 'pets_delete' pet.id %}">Delete</a>    
        </div>
    </div>
</div>



{% endblock %}