
/* COLORS */
element {
    --text-color: #442214;
    --teal-accent: #65b7b1;
    --tan-accent: #E5D0C1;   
}

:root {
    width: 90%;
    margin: auto;
}

body {
    position: relative;
    /* min-height: 100vh; */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    width: 100%;
}

.main {
    background-image: url("background1.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right top 35px;
}

.secondary {
    background-image: url("background2.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: right top 35px;
}

footer {
    position:fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    background-color: #442214;
    color: white;
    text-align: center;
}

.pet-photo {
    width: 300px;
    margin-top: 20px;
}

/******************************/
/*     UNIVERSAL ELEMENTS     */
/******************************/

a {
    text-decoration: none;
}

.top-margin {
    margin-top: 75px;
}

.title_flags {
    max-width: 25%;
    min-width: 300px;
    background-color: #E5D0C1;
    color:#442214;
    text-transform: uppercase;
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.home--title_flags {
    max-width: 25%;
    min-width: 300px;
    background-color: #E5D0C1;
    color:#442214;
    text-transform: uppercase;
    padding-left: 30px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

.button-brown {
    background-color:#442214;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;  
}

.button-teal {
    background-color:#65b7b1;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;  
}


/******************************/
/*           NAV              */
/******************************/

#logo {
    flex-grow: 1;
    height: 80px;
    margin-right: auto;
}

.dropbtn {
  background-color: #d9534f;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #d9534f;}


/******************************/
/*         HOME PAGE          */
/******************************/

.home {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    height: 80vh;
    width: 35%;
}

.home--title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color:#442214;
}

/* .home--intro {
    width: 35%;
} */

.home--main {
    flex: 4;
    flex-shrink: 1;
}

.home--buttons {
    flex: 2;
    flex-shrink: 1;
}

.home--featured {
    flex: 1;
    flex-shrink: 1;
}

/******************************/
/*         PET CARDS          */
/******************************/

.index--card {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    background-color: #65b7b1;
}

.index--box {
    margin: 10px;
    width: 200px;
    height: 200px;}

.index--card-photo {
    display: block;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

.index--card-info {
    height: 50px;
}



/* not linking  */
/* .hello-msg{
    margin-right: 20px;
  } */
