{% extends 'base2.html' %}
{% block content %}

<h1 class="page-title">{{ pet.status }} {{ pet.type }}</h1>

<div class="card-content">
    <div>   
        {% for photo in pet.photo_set.all %}
            <img class="pet_photo" src="{{photo.url}}" width="200px">
        {% empty %}
            <div class="">No Photos Uploaded</div>
        {% endfor %}

        {% comment %} ADD IF STATMENT  {% endcomment %}
            <form action="{% url 'add_photo' pet.id %}" enctype="multipart/form-data" method="POST" class="">
        {% csrf_token %}
                <input type="file" name="photo-file">
                <br><br>
                <input type="submit" class="btn" value="Upload Photo">
            </form>



    </div>
    <div>
        <span class="">
        <h4>Name: {{ pet.name }}</h4>
        <h4>City: {{ pet.city }}</h4>
        <h4>State: {{ pet.state }}</h4>
        <h4>Breed: {{ pet.breed }}</h4>
        <h4>Comments: {{ pet.comments }}</h4>
        <div class="">


            {% comment %} AUTH -  ADD IF STATMENT {% endcomment %}
            <a href="{% url 'pets_update' pet.id %}">Edit</a>
            <a href="{% url 'pets_delete' pet.id %}">Delete</a>   


        </div>
    </div>


    {% comment %} AUTH - ADD IF STATMENT  {% endcomment %}
    <a href="{% url 'render_pdf' pet.id %}" target="_blank">Get Flyer</a>



</div>



{% endblock %}