{% extends 'base3.html' %}
{% block content %}

<h1></h1>

{% for pet in pets %}
  <a href="{% url 'detail' pet.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ pet.name }}</span>
            <p>Breed: {{ pet.breed }}</p>
            <p>Description: {{ pet.description }}</p>
            {% if pet.age > 0 %}
                <p>Age: {{ pet.age }}</p>
            {% else %}
                <p>Age: Baby</p>
            {% endif %}
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}