{% extends 'base.html' %}
{% block content %}

<h1></h1>

{% for finch in finchees %}
  <a href="{% url 'detail' finch.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ finch.name }}</span>
            <p>Breed: {{ finch.breed }}</p>
            <p>Description: {{ finch.description }}</p>
            {% if finch.age > 0 %}
                <p>Age: {{ finch.age }}</p>
            {% else %}
                <p>Age: Baby Finch</p>
            {% endif %}
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}