{% extends 'base2.html' %}
{% block content %}

<h1>ABOUT </h1>

<p class = "about-text">Lost And Hound was founded in 2022 by Cheryl, Javier, and Kelly, a group of software engineers looking for a way to consolidate information about lost and found pets. Their goal is to create a free interactive online database for lost and found reports where worried pet owners and good Samaritans could connect quickly and efficiently.</p>


<h4>History</h4>
<p class="about-text">On Friday, July 15, John got a phone call that he will never forget. It was from his wife, Jane, and she told him that their dog, a 3-year-old golden doodle named Teddy, was no longer on the porch where he had just left him minutes earlier. John came home immediately, and the couple ran through the alley and streets yelling for Teddy. Unfortunately, Teddy was nowhere to be found. </P>

<p class="about-text">    John recently moved to Vancouver, Washington, and does not know his way around town to efficiently help search for Teddy. They called the police but had no results. Feeling helpless, John decided to call his friend Javier who lives 4 hours away from Vancouver. On the edge of breaking down, John told Javier what had happened to Teddy. Javier jumped into action and contacted all his GA cohort buddies for help. Cheryl, Javier's classmate, found Teddy! </p>
    
<p class="about-text">    Never doubt that a small group of thoughtful, committed software developers can help change the world for someone. </p>

<h4> Our Mission</h4>
<p class="about-text">Having one central location for all lost and found pet reports greatly increases the chances of finding a lost pet.
    Lost and Hound believes in providing a user friendly site where all lost pets are listed free of charge. 
    Pet owners and pet finders can login, create a lost pet posting, dynamically create a free PDF flyer to print, and contact lost pet owners.</p>

<h4>Meet the Team</h4>



{% endblock %}