{% include 'base2.html' %}
{% block content %}



<div class="title_flags top-margin">
    <h3>About Us</h4>
</div>
<br><br>
<div class="about--block">
<p class = "about-text">Lost and Hound was founded in the summer of 2022 by a trio of up and coming software engineers, Cheryl, Javier, and Kelly. Their goal was simple - find a novel way to aggregate information in order to assist in finding lost pets. Part of this goal is to create a database that can be accessed swiftly where owners and Samaritans can convene regarding lost and found pets, and most importantly do it at no cost. #humansbeingbros</p>


<h4>History</h4>
<p class="about-text">It's that unexpected phone call, the one that we're all terrified of receiving. John, a friend of Javier, got that call. John's wife informed him that they aren't able to locate Teddy, their 3-year old pup. The frantic tone of her voice forced John to hurry home. They spent hours combing through the streets back and forth, desperately calling his name hoping he would come running. That moment never came...</P>

<p class="about-text"> John, his wife, and Teddy recently moved to Vancouver City in Washington. Being that they are new to the area, John and his wife were not familiar with any of the locations and their search efforts were not efficient. They didn't even know where to begin to look. After several dead ends and fruitless police reports, John decided to phone Javier who lived not too far away. He knew that Javier had insights on how to solve logistical issues with the aid of technology.
</p>
    
<p class="about-text"> Not a moment too soon, Javier connected with his GA cohorts Cheryl and Kelly. They all agreed that the issue of finding lost pets is something that they can make a positive impact on. Every huge movement starts with a tiny thought. Never doubt that a small group of thoughtful, committed software developers can help change the world for someone.</p>

<h4> Our Mission</h4>
<p class="about-text">Having one central location for all lost and found pet reports greatly increases the chances of finding a lost pet.
    Lost and Hound believes in providing a user friendly site where all lost pets are listed free of charge. 
    Pet owners and pet finders can login, create a lost pet posting, dynamically create a free PDF flyer to print, and contact lost pet owners.</p>

</div>


{% endblock %}