{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lost and Hound</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body class="secondary">
  <header>
    <nav>
        <ul class="right">
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}  
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
    </nav>
  </header>
        {% block content %}

        {% endblock %}
  <footer>
    <div>Footer</div>
  </footer>
</body>
</html>