{% load static %}
{% include 'base.html' %}
{% block content %}
    <style>
      @page {
        size: letter portrait;
        p { margin: 0; -pdf-keep-with-next: true; }
        p.separator { -pdf-keep-with-next: false; }

        @frame header_frame {
          -pdf-frame-content: header_content;
          width: 600pt;
          height: 200pt;
          background-color: red;
          color: white;
          font-size: 40pt;
          padding: 10pt;
          -pdf-frame-border: 1;
        }

        @frame col1_frame {
          width: 300pt;
          -pdf-frame-border: 1;
        }

        @frame col2_frame {
          width: 300pt;
          -pdf-frame-border: 1;
        }

        @frame footer_frame {
          -pdf-frame-content: footer_content;
          width: 600pt;
          height: 200pt;
          background-color: red;
          color: white;
          font-size: 40pt;
          padding: 10pt;
          -pdf-frame-border: 1;
        }
      }

    </style>  
        {% endblock %}
